
a {
    cursor:pointer;
}
.ajax__calendar_footer {
    display: none;
}

img.UserPhoto {
    float: left;
}
.OdwiedziliList p {
    margin-top:0px;
}
img.Galeria:nth-child(2n+1):after {
     content: '\a';
     white-space: pre;
}
.aktywnyPag {
    color:red;
}
.OdwiedziliList {
    clear:both;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:4px;
    padding-top:10px;
    height:200px;
    border-bottom:1px solid;
}
.Username {
    clear:both;
    font-size:25px;
    margin-bottom:0px;
}

#tooltip {
    position:absolute;
    z-index:9999;
    color:#fff;
    font-size:16px;
    width:180px;
    
}

#Center {
    margin:auto 0;
    text-align:center;
}

#update {
   color:black;
    width: 250px;
        height: 150px;
        background: #FFF;
   
        text-align: center;
        position: fixed;
        margin-left: -75px;
        margin-top: -75px;
        left: 50%;
        top: 50%;
        opacity:1.0;
        z-index: 20;

        display: block;

}

#greyout {
    position: absolute;
    background: #000;
    top:0;
    left:0;
    width: 100%;
    height: 1024px;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    
}
    #update img {
        padding:30px;
    }

.Validate {
   margin-left:10px;
}

/* IE hack */
/*html #tooltip .tipHeader {margin-bottom:-6px;}*/


#tooltip .tipBody {
    background-color:#75CE07;
    padding:5px;
}




body {
    background-color: white;
    color: #75CE07;
}
.log {
    padding:10px 5px 5px 5px;
    font-size: 23px;
    font-family:'Comic Sans MS';
    bottom: 1px;
}
ul.zakladki {
    margin:auto;
    width: 50%;
    overflow: hidden;
    border-bottom:1px solid black;
    text-align:center;

}

ul.links li{
    
   display:inline-block;
   *display:inline; /*IE7*/
   *zoom:1; /*IE7*/
    list-style: none;
    border-color:black;
    border:1px solid white;
}

.hiddenSpan {
    display: none;
    color:red;
}


ul.zakladki li{

   display:inline-block;
   *display:inline; /*IE7*/
   *zoom:1; /*IE7*/
    list-style: none;
    border-color:black;
    border:1px solid white;
    
}



ul.zakladki li a {
    float: left;
    padding: 5px;
    background: #75CE07;
    color: black;
        -moz-border-radius:5px; /* FF */
-webkit-border-radius:5px; /* przeglądarki z webkitem (Safari, Chrome itp.) */

-khtml-border-radius:5px; /* przeglądarki typu K-meleon (typowo Linuxowe) */

border-radius:5px; /* pozostałe przeglądarki */

behavior:url(border-radius.htc); /* dodatek dla badzIEwnej przeglądarki */
    
}

ul.zakladki li a:hover {
    background: #80FF80;
}

#LoginView1{ color: red; }
.auto-style1 {
            width: 23%;       }
#Logo {
    width: 99%;
    margin:2px 2px 5px 2px;
    padding: 1px 1px 1px 1px;
    color: white;
    background-color: #75CE07;
    height: 93px;
    -moz-box-shadow: 0 3px 6px #6A6A6A;

    -moz-box-shadow: 0 3px 6px #6A6A6A;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:10px;
-moz-border-radius-bottomleft:15px;
-moz-border-radius-bottomright:30px;
box-shadow: 0 3px 6px #6A6A6A;
border-radius-topleft:5px;
border-radius-topright:10px;
border-radius-bottomleft:15px;
border-radius-bottomright:30px;	
border-radius: 12px;
-webkit-box-shadow: 0 3px 6px #6A6A6A;
-webkit-border-radius-topleft:5px;
-webkit-border-radius-topright:10px;
-webkit-border-radius-bottomleft:15px;
-webkit-border-radius-bottomright:30px;

}
div#Menu {
    margin:4px 0px 0px 5px;
    border:1px ridge;
    padding: 2px 2px 2px 2px;
    border-rar-ra5CE07;  
float:left;
    top: 54px;
   width: 15%;
   height:300px;
    left: 13px;
}
div#Wrap{
  
    top:1px;
    left:1px;
    right:1px;
    height:1200px;
}
div#Content {
    margin-top:4px;
    padding-left:10px;
    border:1px ridge;
    width:81.9%;
    float:right;
    height:1000px;
}

.ElementMenuNadrzednego { color: #000033; font-weight: bold; padding: 3px 10px; }
.ElementMenuRozwijanego { background: #F5F5F5; color: #000033; padding: 3px 10px; } 
.ZaznaczonyElementMenu { background: #000033; color: White;}
#MenuGlowne {
    float:left;
    width:500px;
    top:5px;
}
#OdwiedziliNew {
    font-weight:bold;
    font-size:24px;
}

#menu {
    position: relative;
}
.men {

    margin-left:0px;

}

.noweWiadomosci {
    margin-left:1px;
    position:absolute;
    top:0px;
    left:490px;
}
.ListedUserAttr {
    list-style-type: none;
}
.logowanie {
    text-align:center;
    z-index: auto;
    float: none;
    margin-right: 0px;
}

#users {

    margin-left:0px;
    border-top:0;
    border-bottom:4px;
    border:0;
    border-style: hidden;
}

tr.prof {
    
    border-width:0;
    text-align:left;
    margin-top:10px;
    margin-bottom:10px;
}

div#ObszarLogowania {
    
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  margin-top:5em;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
div#ObszarLogowania:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
#Loguj {
    
}

#RememberMe {
    float: left;
}

.buttonclass {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#F5F5F5;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
    float:right;   
}.buttonclass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.buttonclass:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 2px;
}

p#photo {
    flex-align: center;
    text-align:center;
}

a {
    color: #000033; font-weight: bold;
   font-style:normal;
   text-decoration: none;
}
    a:visited {
    text-decoration: none;
}

    a:hover {
        color: darkorchid;
    }

.ulubieni {
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color: #000033;
}
.center {
    text-align: center;
}



.black {
    color: #000033;
}
.wiadod {
    color:red;
    font-weight:bold;
    font-size:16px;
}


.MultipleSelectionDDL
{
    border: solid 1px #000000;
    height: 200px;
    width: 331px;
    padding-top:5px;
    overflow-y: scroll;
    background-color: #f0f8ff;
    font-size: 11px;
    font-family: Calibri, Arial, Helvetica;
    line-height:normal;
}
.divDDL
{   
    padding-top:2px;
    margin:auto;
    text-align:left;
    padding-left:2px;
    padding-bottom:5px;
    width:150px;
    height:17px;
    background-position:-1px -2px;
    background-repeat:no-repeat;
    border: solid 1px #000000;
   
    font-size:16px;
    font-family:Calibri, Arial, Helvetica;
    
}

.divDDL2
{   
    padding-top:2px;
    margin-left:10px;
    text-align:left;
    padding-left:2px;
    padding-bottom:5px;
    width:150px;
    height:17px;
    background-position:-1px -2px;
    background-repeat:no-repeat;
    border: solid 1px #000000;
   
    font-size:16px;
    font-family:Calibri, Arial, Helvetica;
    
}


/* CSS DO GALERII*/

.galery img {
    width:20%;
    height:20%;

}




#imgbox 
{
    vertical-align : middle;
    position : absolute;
    border: 1px solid #999;
    background : #FFFFFF; 
    filter: Alpha(Opacity=100);
    visibility : hidden;
    height : 200px;
    width : 200px;
    z-index : 50;
    overflow : hidden;
    text-align : center;
}

.thumb {
    width: 10%;
    height: 10%;

}
.galeria li {
    display: inline;
    list-style: none;
    margin:5px;
}

.galeria li:nth-child(5n+0):after{
       content: '\a';
    white-space: pre;


}

.AFU
{
 position: relative;
 float: left;
 clear: both;
 top: 0px;
 padding-left: 0px;
 padding-right: 0px;
 width: 200px;
 border:thick;
 margin:0px;
 background: url("images/ajax-loader.gif") no-repeat 100% 1px;
}



#popup_box { 
	display:none; /* Hide the DIV */
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6 */  
	height:300px;  
	width:600px;  
	background:#FFFFFF;  
	left: 300px;
	top: 150px;
	z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
	margin-left: 15px;  
	
	/* additional features, can be omitted */
	border:2px solid #ff0000;  	
	padding:15px;  
	font-size:15px;  
	-moz-box-shadow: 0 0 5px #ff0000;
	-webkit-box-shadow: 0 0 5px #ff0000;
	box-shadow: 0 0 5px #ff0000;
	
}

/* This is for the positioning of the Close Link */
.popupBoxClose {
	font-size:20px;  
	line-height:15px;  
	right:5px;  
	top:5px;  
	position:absolute;  
	color:#6fa5e2;  
	font-weight:500;  	
}


#profilePhotoUpload{ 
	display:none; /* Hide the DIV */
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6 */  
	height:300px;  
	width:600px;  
	background:#FFFFFF;  
	left: 300px;
	top: 150px;
	z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
	margin-left: 15px;  
	
	/* additional features, can be omitted */
	border:2px solid #ff0000;  	
	padding:15px;  
	font-size:15px;  
	-moz-box-shadow: 0 0 5px #ff0000;
	-webkit-box-shadow: 0 0 5px #ff0000;
	box-shadow: 0 0 5px #ff0000;
	
}

#photoWrapper {
    display: table;
    width:1%;
    height:1%;
}


#photoDiv {
    position:relative;
   
    
}

#showProfilePictureMenu {
    display:none;
    position: absolute;
    left:1px;
    top:1px;
}

/*vertical menu on picure hover*/

#vertmenu {
    position:absolute;
    left:1px;
    top:10px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
width: 160px;
padding: 0px;
margin: 0px;
display:none;
}

#vertmenu ul {
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}
#vertmenu ul li {
margin: 0px;
padding: 0px;
}
#vertmenu ul li a {
font-size: 80%;
display: block;
border-bottom: 1px dashed #C39C4E;
padding: 5px 0px 2px 4px;
text-decoration: none;
color: #666666;
width:160px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #eeeeee;
}


#showProfilePictureMenu ul {
    list-style: none;
    padding:0px;
    margin:0px;
    position:relative;
}

.profilePictureMenu ul li {

}

#showProfilePictureMenu ul:after {
		content: ""; clear: both; display: block;
	}



    #showProfilePictureMenu ul ul {
     display:none;
        background: #75CE07; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    }

  #showProfilePictureMenu ul ul.active{
  
    display:block;

}

    ul ul li {
		float: none; 
		
		position: relative;
	}
		#showProfilePictureMenu ul ul li a {
			padding: 15px 30px;
		}	
			#showProfilePictureMenu ul ul li a:hover {
				
			}


.popupWindow {
      display: none; /* Hide the DIV */
    position: fixed;
    _position: absolute; /* hack for internet explorer 6 */
    height: 300px;
    width: 600px;
    background: #FFFFFF;
    left: 300px;
    top: 150px;
    z-index: 100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;
    /* additional features, can be omitted */
    border: 2px solid #ff0000;
    padding: 15px;
    font-size: 15px;
    -moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;
    box-shadow: 0 0 5px #ff0000;
}
/* #uploadProfilePicture {
    display: none; 
    position: fixed;
    _position: absolute; 
    height: 300px;
    width: 600px;
    background: #FFFFFF;
    left: 300px;
    top: 150px;
    z-index: 100; 
    margin-left: 15px;
    
    border: 2px solid #ff0000;
    padding: 15px;
    font-size: 15px;
    -moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;
    box-shadow: 0 0 5px #ff0000;
}*/

#Downloading {
     position: fixed;
    _position: absolute; /* hack for internet explorer 6 */
    height: 300px;
    width: 600px;
    background: #FFFFFF;
    left: 300px;
    top: 150px;
    z-index: 100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;
}

#errorOnProfilePictureUploadForm {
    display: none; /* Hide the DIV */
}

#popUpMessage {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6 */
    height: 200px;
    width: 300px;
    background: #FFFFFF;
    left: 24em;
    top: 20em;
    z-index: 100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left:15px;
    /* additional features, can be omitted */
    border: 2px solid #ff0000;
    padding: 15px;
    font-size: 15px;
    /*-moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;
    box-shadow: 0 0 5px #ff0000;*/
}

.selected {
    border:2px solid red;
    opacity: 1;
    filter: alpha(opacity=100); /* msie */
}

.notSelected {
  border:2px solid white;
    opacity: 0.8;
    filter: alpha(opacity=800);
}

#map-canvas {
    height:50em;
    width:60em;
}

.OpisText {
    height:10em;
    width:10em;
}